.section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-walnut-shadow);
  padding: 68px 24px;
}

.container {
  width: 100%;
  max-width: 800px;
}

.form {
  display: flex;
  align-items: center;
  gap: 18px;
  max-width: 500px;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
  }

  .form .btn-pill {
    width: 100%;
  }
}
